* {
  padding: 0%;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 50px 0px 30px 0px;
  text-align: center;
  font-size: 40px;
}

header p {
  font-size: 20px;
}

.pads {
  background: lightblue;
  width: 100%;
  display: flex;
}

.pads > div {
  height: 100px;
  width: 100px;
  flex: 1;
}

.pad1 {
  background: #60d394;
}

.pad2 {
  background: #4f7ee2;
}

.pad3 {
  background: #d1d360;
}

.pad4 {
  background: #9660d3;
}

.pad5 {
  background: #d360c4;
}

.pad6 {
  background: #ff8d8d;
}

.visual > div {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  bottom: 0%;
  left: 20%;
  bottom: 0%;
  z-index: -1;
}

@keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }
  50% {
    bottom: 50%;
    left: 50%;
  }
  100% {
    bottom: 0%;
    left: 80%;
  }
}
